# Dependencies
node_modules

# Build outputs
dist
build
.turbo

# Environment files
.env
.env.local
.env.*.local

# Logs
*.log

# Git
.git
.gitignore

# CI/CD
.github

# IDE
.vscode
.idea

# Documentation
README.md
LICENSE

# Test
coverage
*.test.ts
*.test.tsx
*.spec.ts
